@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
  .text-hover-#{$key} {
    &:hover {
      color: $val;
    }
  }
  .bg-#{$key} {
    background-color: $val;
  }

  //if rule for black & white color don't generate classes for it
  @if ($val!= black and $val!=white) {
    @for $i from 1 through 9 {
      // light & dark color variable
      $light-color: mix(white, $val, $i * 10);
      $dark-color: mix(black, $val, $i * 10);

      //light variation
      .text-#{$key}-light-#{$i} {
        color: $light-color;
      }
      .text-hover-#{$key}-light-#{$i} {
        &:hover {
          color: $light-color;
        }
      }
      .bg-#{$key}-light-#{$i} {
        background-color: $light-color;
      }

      //dark variation
      .text-#{$key}-dark-#{$i} {
        color: $dark-color;
      }
      .text-hover-#{$key}-dark-#{$i} {
        &:hover {
          color: $dark-color;
        }
      }
      .bg-#{$key}-dark-#{$i} {
        background-color: $dark-color;
      }
    }
  }
}
